body{
    background-image: url("assets/crew/background-crew-desktop.jpg");
}
.home{
    border: none;
}
.crew{
    border-bottom: 3px solid white;
    padding-bottom: 2.8%;
}
.content{
    position: absolute;
    top: 24%;
    left: 13%;
}
.crew-img{
    width: 423px;
    margin: 15% 10% 0 0;
    float: right;
}
h3.crew-member {
    margin-bottom: 25%;
}
h2 {
    font-size: 35px;
    letter-spacing: 2px;
}
span{
    color: rgba(100, 100, 100);
}
.crew-link{
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: rgba(100, 100, 100);;
    border: 2px solid rgba(100, 100, 100);;
    border-radius: 5px;
    margin: 50px 15px 0 0;
}
.crew-link:hover{
    background-color: white;
    border-color: white;
}
.member1{
    background-color: white;
    border-color: white;
}