body{
    background-image: url("assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.nav-bar{
    margin: 3.125% 0 0 3.125%;
}
.logo-img{
    margin-top: 5px;
    float: left;
}
.nav-links{
    display: inline-block;
    top: 9.1%;
    position: absolute;
    left: 40%;
    width: 57%;
}
.nav-link{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 5%;
}
.nav-link:hover{
    color: grey;
}
.top-horizontal-rule{
    border: none;
    border-top: 1px solid rgba(100, 100, 100, 0.5);
    position: absolute;
    top: 9.2%;
    left: 13%;
    width: 32%;  
}
.blur-bg{
    background-color: rgba(100, 100, 100, 0.5);
    height: 10%;
    position: absolute;
    right: 0;
    top: 5.5%;
    width: 57%;
}
.home{
    border-bottom: 3px solid white;
    padding-bottom: 2.8%;
    margin-left: 15%;

}
.explore{
    background-color: white;
    border: 2px solid white;
    border-radius: 150px;
    bottom: 25%;
    color: rgba(100, 100, 100);
    right: 20%;
    text-align: center;
    height: 150px;
    position: absolute;
    width: 150px;
}
.explore p {
    margin: 65px 15px;
}
.content-home{
    position: absolute;
    top: 35%;
    left: 13%;
}
.content-h1{
    margin: 0;
    font-size: 100px;
    font-weight: 100;
}
.content-h3{
    font-size: 25px;
    font-weight: 100;
}
.content-p{
    width: 350px;
    text-align: left;
    margin-top: 30px;
    line-height: 25px;
}