.tech1,.tech2{
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
}
/* .tech2{
    background-color: white;
    color: rgb(145, 142, 142);
} */
.tech3{
    background-color: white;
    color: rgb(145, 142, 142);
}